*{
    margin: 0;
    padding: 0;
    font-family:montserrat;
}
#header{
    height: 100vh;
    background-image: url(Images/background.png);
    background-position: center;
    background-size: cover;
}
.container{
    margin-left:100px;
    margin-right: 100px;
}
.logo{
    margin-top: 30px;
    width: 100px;
    cursor: pointer;
}
.header-text{
    margin-top: 140px;
    max-width: 400px;
    
}
h1{
    font-size: 34px;
}
.small-text{
   opacity: 84%;
   /* font-size: 15px; */
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    margin: 15px 0;
    background-color: #f67c92;
}
.common-button{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;   
    font-weight: bold;
    cursor: pointer; 
}
.common-button:hover{
    color: white;
    background: #f52f54;
    border: 2px solid white;
    opacity: 35%;
    transition: .5s;
}

.header-text button{
    margin-top: 12px;
    margin-bottom: 60px;
}
.line-1{
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #f67c92;
} 
.line-2{
    width: 80px;
    height: 1px;
    display: inline-block;
    background: #f67c92;
} 
.line-3{
    width: 60px;
    height: 1px;
    display: inline-block;
    background: #f67c92;
} 
.line{
    margin-bottom: 20px;
}
.form #message{
    /* height: 60px; */
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    background-color: #f67c92;
    z-index: 2;
    transition: .5s
    ;
}
nav ul{
    list-style: none;
    margin: 50px 20px;
}
nav ul a{
   text-decoration: none;
   color: #ffffff;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#menuBtn{
    position: fixed;
    width: 50px;
    top: 35px;
    right: 65px;
    cursor: pointer;
    z-index: 2;
}
#menuBtn:hover{
    transition: .3s;
    opacity: 76%;
    box-shadow: #f52f54;
}

/* ---about--- */
#about{
   padding: 50px 0;
   align-items: center;
   display: flex;
   flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col .image{
  width: 100%; 
}
.about-right-col{
    flex-basis: 50%;
    text-align: right;
    margin-right: 100px ;
    max-width: 500px;
    display: inline-block;
}
h3{
    margin: 15px;
}

.about-text h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
}

.about-text h3{
    font-size: 20px;
    font-style: italic;
}

/* features */
#features{
    padding-top: 50px;
    padding-bottom: 50px;
}
.feature-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feature-col{
    flex-basis: 25%;
    text-align: center;
}
.feature-col img{
    width: 100px;
}
.feature-col h4{
    margin: 15px;
    font-size: 20px;
    font-weight: 400;
}
.feature-btn{
    margin: 50px;
    display: flex;
    justify-content: center;
    max-height: 80px;
}

.feature-btn .line{
    display: inline-block;
    text-align: justify;
    flex-wrap: wrap;
    margin:20px ;
    max-width: 30px;
    opacity: 25%;
}
.contact-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.contact-left-col, .contact-right-col{
    flex: 50%;
}
.contact-right-col img{
    flex: 50%;
    width: 100%;
}
.contact-left-col h1{
    padding: 20px 0;
}
form{
    max-width: 350px;
    margin: 30px 0;
}
form input{
    width:100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow:none;
    border: 2px solid #f67c92;
}
#footer {
    padding: 50px 0 30px;
}
hr {
    margin-bottom: 50px;
}
.footer-row{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-left-col{
flex-basis: 50%;
margin-top: 40px;
}

.footer-right-col{
    flex-basis: 35%;
}
.footer-link{
    
    display: inline;      
    justify-content:space-between;
    flex-wrap: wrap; 
}   
.link-title h4{
   color: #f67c92;
   padding-top: 12px;
} 

.link-title small{
   font-size:13px;
   color: #777;
} 